:root {
	--color-background: rgb(249, 249, 249);
	--color-text: rgb(70, 70, 90);
	--color-calculator: rgb(82, 149, 232);
	--color-karma: rgb(250, 162, 62);
	--color-supervisor: rgb(71, 203, 200);
	--color-team-builder: rgb(236, 70, 72);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-background);
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}
