.main {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 500px;
}

.subheading {
	color: var(--color-text);
	font-weight: 300;
	font-size: 32px;
	text-align: center;
}

.heading {
	color: var(--color-text);
	font-weight: 600;
	font-size: 32px;
	text-align: center;
}

.caption {
	text-align: center;
	color: var(--color-text);
	font-weight: 300;
	font-size: 16px;
	margin-top: 10px;
}

.article {
	display: grid;
	grid-template-areas:
		"none team-builder none"
		"supervisor team-builder calculator"
		"supervisor karma calculator"
		"none karma none";
}
